<div class="filter">         
<h1 class="mb-4 text-2xl text-green-500 dark:text-green-500"><strong>Gender</strong></h1>
<ul
    class="items-center w-full text-sm font-medium text-white bg-green-500 rounded-lg border border-green-200 sm:flex dark:bg-green-500 dark:border-green-500 dark:text-white">
    <li class="w-full border-b border-green-200 sm:border-b-0 sm:border-r dark:white">
        <div class="flex items-center pl-3">
            <input id="male-checkbox-list" type="checkbox" value=""
                class="w-4 h-4 text-blue-600 bg-green-500 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="male-checkbox-list"
                class="py-3 ml-2 w-full text-sm font-medium text-white dark:text-white">Male</label>
        </div>
    </li>
    <li class="w-full border-b border-green-200 sm:border-b-0 sm:border-r dark:white">
        <div class="flex items-center pl-3">
            <input id="female-checkbox-list" type="checkbox" value=""
                class="w-4 h-4 text-blue-600 bg-green-500 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="female-checkbox-list"
                class="py-3 ml-2 w-full text-sm font-medium text-white dark:text-white">Female</label>
        </div>
    </li>
</ul>
<h1 class="mb-4 text-2xl text-green-500 dark:text-green-500"><strong>Playstyle</strong></h1>
<ul
    class="items-center w-full text-sm font-medium text-white bg-green-500 rounded-lg border border-green-200 sm:flex dark:bg-green-500 dark:border-green-500 dark:text-white">
    <li class="w-full border-b border-green-200 sm:border-b-0 sm:border-r dark:white">
        <div class="flex items-center pl-3">
            <input id="relaxed-checkbox-list" type="checkbox" value=""
                class="w-4 h-4 text-blue-600 bg-green-500 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="relaxed-checkbox-list"
                class="py-3 ml-2 w-full text-sm font-medium text-white dark:text-white">Relaxed</label>

        </div>
    </li>
    <li class="w-full border-b border-green-200 sm:border-b-0 sm:border-r dark:white">
        <div class="flex items-center pl-3">
            <input id="competitive-checkbox-list" type="checkbox" value=""
                class="w-4 h-4 text-blue-600 bg-green-500 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="competitive-checkbox-list"
                class="py-3 ml-2 w-full text-sm font-medium text-white dark:text-white">Competitive</label>
        </div>
    </li>
</ul>
<h1 class="mb-4 text-2xl text-green-500 dark:text-green-500"><strong>Handicap</strong></h1>
<ul
    class="items-center w-full text-sm font-medium text-white bg-green-500 rounded-lg border border-green-200 sm:flex dark:bg-green-500 dark:border-green-500 dark:text-white">
    <li class="w-full border-b border-green-200 sm:border-b-0 sm:border-r dark:white">
        <div class="flex items-center pl-3">
            <input id="pro-checkbox-list" type="checkbox" value=""
                class="w-4 h-4 text-blue-600 bg-green-500 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="pro-checkbox-list"
                class="py-3 ml-2 w-full text-sm font-medium text-white dark:text-white">0-12</label>
        </div>
    </li>
    <li class="w-full border-b border-green-200 sm:border-b-0 sm:border-r dark:white">
        <div class="flex items-center pl-3">
            <input id="intermediate-checkbox-list" type="checkbox" value=""
                class="w-4 h-4 text-blue-600 bg-green-500 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="intermediate-checkbox-list"
                class="py-3 ml-2 w-full text-sm font-medium text-white dark:text-white">13-24</label>
        </div>
    </li>
    <li class="w-full border-b border-green-200 sm:border-b-0 sm:border-r dark:white">
        <div class="flex items-center pl-3">
            <input id="beginner-checkbox-list" type="checkbox" value=""
                class="w-4 h-4 text-blue-600 bg-green-500 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="beginner-checkbox-list"
                class="py-3 ml-2 w-full text-sm font-medium text-white dark:text-white">25-36</label>
        </div>
    </li>
</ul>

</div>

<div class="flex items-center h-screen w-full justify-center">
{{#each users}}
<div class="max-w-xs">
    <div class="bg-white shadow-xl rounded-lg py-3">
        <div class="photo-wrapper p-2">
            <img class="w-32 h-32 rounded-full mx-auto" src="/public/images/placeholder.jpg" alt="">
        </div>
        <div class="p-2">
            <h3 class="text-center text-xl text-gray-900 font-medium leading-8"></h3>
            <div class="text-center text-gray-400 text-xs font-semibold">
                <p>Web Developer</p>
            </div>
            <table class="text-xs my-3">
                <tbody><tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">User Name:</td>
                    <td class="px-2 py-2">{{user_name}}</td>
                </tr>
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Gender:</td>
                    <td class="px-2 py-2">{{attribute.gender}}</td>
                </tr>
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Handicap:</td>
                    <td class="px-2 py-2">{{attribute.handicap}}</td>
                </tr>
                {{#if attribute.competitive_game}}
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Competitive Game:</td>
                    <td class="px-2 py-2" id="competitive_game" value={{attribute.competitive_game}}>
                    Hell Yeah</td>
                </tr>
                {{else}}
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Competitive Game:</td>
                    <td class="px-2 py-2" id="competitive_game" value={{attribute.competitive_game}}>
                    Hell Naw</td>
                </tr>
                {{/if}}
                {{#if attribute.relaxed_game}}
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Relaxed Game:</td>
                    <td class="px-2 py-2" id="competitive_game" value={{attribute.relaxed_game}}>
                    Hell Yeah</td>
                </tr>
                {{else}}
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Relaxed Game:</td>
                    <td class="px-2 py-2" id="competitive_game" value={{attribute.relaxed_game}}>
                    Hell Naw</td>
                </tr>
                {{/if}}
            </tbody></table>

            <div class="text-center my-3">
                <a class="text-xs text-indigo-500 italic hover:underline hover:text-indigo-600 font-medium" href="#">View Profile</a>
            </div>

        </div>
    </div>
</div>

</div>
{{/each}}

