<div class="flex items-center h-screen w-full justify-center">
{{#each users}}
<div class="max-w-xs">
    <div class="bg-white shadow-xl rounded-lg py-3">
        <div class="photo-wrapper p-2">
            <img class="w-32 h-32 rounded-full mx-auto" src="/images/Placeholder.JPG" alt="">
        </div>
        <div class="p-2">
            <h3 class="text-center text-xl text-gray-900 font-medium leading-8"></h3>
            <div class="text-center text-gray-400 text-xs font-semibold">
                <p>Web Developer</p>
            </div>
            <table class="text-xs my-3">
                <tbody><tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">User Name:</td>
                    <td class="px-2 py-2">{{user_name}}</td>
                </tr>
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Gender:</td>
                    <td class="px-2 py-2">{{attribute.gender}}</td>
                </tr>
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Handicap:</td>
                    <td class="px-2 py-2">{{attribute.handicap}}</td>
                </tr>
                {{#if attribute.competitive_game}}
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Competitive Game:</td>
                    <td class="px-2 py-2" id="competitive_game" value={{attribute.competitive_game}}>
                    Hell Yeah</td>
                </tr>
                {{else}}
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Competitive Game:</td>
                    <td class="px-2 py-2" id="competitive_game" value={{attribute.competitive_game}}>
                    Hell Naw</td>
                </tr>
                {{/if}}
                {{#if attribute.relaxed_game}}
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Relaxed Game:</td>
                    <td class="px-2 py-2" id="competitive_game" value={{attribute.relaxed_game}}>
                    Hell Yeah</td>
                </tr>
                {{else}}
                <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">Relaxed Game:</td>
                    <td class="px-2 py-2" id="competitive_game" value={{attribute.relaxed_game}}>
                    Hell Naw</td>
                </tr>
                {{/if}}
            </tbody></table>

            <div class="text-center my-3">
                <a class="text-xs text-indigo-500 italic hover:underline hover:text-indigo-600 font-medium" href="#">View Profile</a>
            </div>

        </div>
    </div>
</div>

</div>
{{/each}}
<div class="filter">
        <p class = "text-2xl text-green-500 dark:text-green-500"><strong>Gender</strong></p>
        <div class="flex items-center">
          <input id="Male" type="checkbox" value="" class="w-4 h-4 text-green-500 bg-gray-100 rounded border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="Male" class="ml-2 text-lg font-medium text-slate-900 dark:text-slate-900">Male</label>
        </div>
        <div class="flex items-center">
            <input id="Female" type="checkbox" value="" class="w-4 h-4 text-green-500 bg-gray-100 rounded border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="Female" class="ml-2 text-lg font-medium text-slate-900 dark:text-slate-900">Female</label>
        </div>
        <p class = "text-2xl text-green-500 dark:text-green-500"><strong>Playstyle</strong></p>
          <div class="flex items-center">
          <input id="Competitive" type="checkbox" value="" class="w-4 h-4 text-green-500 bg-gray-100 rounded border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="Competitive" class="ml-2 text-lg font-medium text-slate-900 dark:text-slate-900">Competitive</label>
        </div>
        <div class="flex items-center">
            <input id="Relaxed" type="checkbox" value="" class="w-4 h-4 text-green-500 bg-gray-100 rounded border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="Relaxed" class="ml-2 text-lg font-medium text-slate-900 dark:text-slate-900">Relaxed</label>
        </div>
        <p class = "text-2xl text-green-500 dark:text-green-500"><strong>Handicap</strong></p>
          <div class="flex items-center">
          <input id="Pro" type="checkbox" value="" class="w-4 h-4 text-green-500 bg-gray-100 rounded border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="Pro" class="ml-2 text-lg font-medium text-slate-900 dark:text-slate-900">0-12</label>
        </div>
        <div class="flex items-center">
          <input id="Intermediate" type="checkbox" value="" class="w-4 h-4 text-green-500 bg-gray-100 rounded border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="Intermediate" class="ml-2 text-lg font-medium text-slate-900 dark:text-slate-900">13-24</label>
        </div>
        <div class="flex items-center">
          <input id="Beginner" type="checkbox" value="" class="w-4 h-4 text-green-500 bg-gray-100 rounded border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="Beginner" class="ml-2 text-lg font-medium text-slate-900 dark:text-slate-900">25-36</label>
    </div>

    <script src="/js/helper.js"></script>